<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  {{{style}}}
  <script src="remark.min.js"></script>
  <script src="https://kit.fontawesome.com/14dcd5fdfb.js"></script>
  <script src="https://static.codepen.io/assets/embed/ei.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script>
    function create() {
      return remark.create({
        {{{ source }}},
        ratio: '16:9',
        highlightLines: true,
        countIncrementalSlides: false,
        highlightStyle: 'monokai'
      });
    }
  </script>
</head>

<body onload="slideshow = create()">
</body>

</html>